Repository shardie-github/WhatsForDinner, changes with the owners that CODEOWNERS names for each.
All owners: @team-leads, @senior-developers, @frontend-team, @mobile-team, @platform-team, @devops-team, @docs-team, @security-team, @backend-team, @database-team, @qa-team

CODEOWNERS:

# CODEOWNERS
# This file defines who owns which parts of the codebase

# Global owners
* @team-leads @senior-developers

# Core application code
/apps/web/ @frontend-team @team-leads
/apps/mobile/ @mobile-team @team-leads
/packages/ @platform-team @team-leads

# Infrastructure
/infra/ @devops-team @team-leads
/scripts/ @platform-team @devops-team

# Documentation
*.md @docs-team @team-leads
/docs/ @docs-team

# Configuration files
package.json @platform-team
tsconfig.json @platform-team
turbo.json @platform-team

# Security-related files
SECURITY_CHECKLIST.md @security-team @team-leads
SECURITY_AUDIT.md @security-team @team-leads
scripts/security-*.js @security-team

# Database
/supabase/ @backend-team @database-team

# Tests
/tests/ @qa-team @team-leads
*.test.* @qa-team

# CI/CD
.github/ @devops-team @team-leads

Refactor: Centralize authentication and tenant access logic
  BACKEND_SECURITY_AUDIT_FIXES.md
  apps/web/src/app/api/commerce/hub/route.ts
  apps/web/src/app/api/developers/keys/[id]/route.ts
  apps/web/src/app/api/developers/keys/route.ts
  apps/web/src/app/api/developers/usage/route.ts
  apps/web/src/app/api/dinner/route.ts
  apps/web/src/app/api/errors/route.ts
  apps/web/src/app/api/federation/route.ts
  apps/web/src/app/api/partners/revenue/route.ts
  apps/web/src/app/api/partners/stats/route.ts
  apps/web/src/app/api/stripe/webhook/route.ts
  apps/web/src/lib/auth-middleware.ts
  whats-for-dinner/supabase/functions/api/index.ts
Owners: @docs-team, @team-leads, @frontend-team, @senior-developers

feat: Initial project setup and Supabase integration
  .env.example
  .github/workflows/ci.yaml
  CHANGELOG.md
  README.md
  apps/mobile/app.config.js
  apps/mobile/app.config.ts
  apps/mobile/package.json
  docs/API.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
  docs/SUPPORT.md
  package.json
  scripts/doctor.sh
  supabase/config.toml
  supabase/functions/healthcheck/index.ts
  supabase/functions/profile-sync/index.ts
  supabase/migrations/0001_baseline.sql
  vercel.json
Owners: @team-leads, @senior-developers, @devops-team, @docs-team, @mobile-team, @platform-team, @backend-team, @database-team

feat: Add analytics dashboard and settings
  apps/web/package.json
  apps/web/src/app/analytics/page.tsx
  apps/web/src/app/api/analytics/dashboard/route.ts
  apps/web/src/app/settings/page.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/RecipeCard.tsx
  pnpm-lock.yaml
Owners: @platform-team, @frontend-team, @team-leads, @senior-developers

Refactor: Enhance UI and add new features
  IMPLEMENTATION_SUMMARY.md
  apps/web/src/app/analytics/page.tsx
  apps/web/src/app/api/cost/calculate/route.ts
  apps/web/src/app/api/meal-plan/generate/route.ts
  apps/web/src/app/api/nutrition/route.ts
  apps/web/src/app/globals.css
  apps/web/src/app/meal-planner/page.tsx
  apps/web/src/app/nutrition/page.tsx
  apps/web/src/app/pricing/page.tsx
  apps/web/src/app/settings/page.tsx
  apps/web/src/app/support/page.tsx
  apps/web/src/components/ui/animated-card.tsx
  apps/web/src/components/ui/loading-spinner.tsx
  apps/web/src/components/ui/progress-bar.tsx
  apps/web/src/lib/services/cost-calculator.ts
  apps/web/src/lib/services/meal-plan-generator.ts
  apps/web/src/lib/services/nutrition-service.ts
  apps/web/src/lib/services/pantry-intelligence.ts
Owners: @docs-team, @team-leads, @frontend-team

feat: Implement Nomad front-end core features and architecture
  apps/web/src/app/api/nomad/family/chat/route.ts
  apps/web/src/app/api/nomad/family/route.ts
  apps/web/src/app/api/nomad/mealplan/route.ts
  apps/web/src/app/api/nomad/nutrition/route.ts
  apps/web/src/app/api/nomad/recipes/route.ts
  apps/web/src/app/api/nomad/user/route.ts
  apps/web/src/app/nomad/cooking/page.tsx
  apps/web/src/app/nomad/dashboard/page.tsx
  apps/web/src/app/nomad/family/chat/page.tsx
  apps/web/src/app/nomad/health-tracker/page.tsx
  apps/web/src/app/nomad/meal-planner/page.tsx
  apps/web/src/app/nomad/onboarding/page.tsx
  apps/web/src/components/nomad/AdPlacement.tsx
  apps/web/src/components/nomad/FamilyFeedCard.tsx
  apps/web/src/components/nomad/GroceryListCard.tsx
  apps/web/src/components/nomad/HealthMetricsCard.tsx
  apps/web/src/components/nomad/MealPlanCard.tsx
  apps/web/src/components/nomad/RecipeSpotlightCard.tsx
  apps/web/src/components/nomad/StreaksBadgesCard.tsx
  apps/web/src/hooks/nomad/useNomadData.ts
  docs/nomad/ARCHITECTURE.md
  docs/nomad/IMPLEMENTATION_SUMMARY.md
  docs/nomad/README.md
  docs/nomad/UX_JOURNEY_MAPS.md
  packages/theme/src/index.ts
  packages/theme/src/nomad-tokens.ts
Owners: @frontend-team, @team-leads, @docs-team, @platform-team

feat: Implement Nomad features and setup docs
  apps/web/src/app/api/nomad/nutrition/route.ts
  apps/web/src/app/api/nomad/wearables/google-fit/callback/route.ts
  apps/web/src/components/nomad/AdMobIntegration.tsx
  apps/web/src/components/nomad/AdPlacement.tsx
  apps/web/src/hooks/nomad/useNomadData.ts
  apps/web/src/lib/nomad/external-apis.ts
  apps/web/src/lib/nomad/realtime.ts
  apps/web/src/lib/supabase/server.ts
  docs/nomad/COMPLETE_SETUP.md
  docs/nomad/QUICK_START.md
  docs/nomad/SETUP_GUIDE.md
  supabase/migrations/015_nomad_schema.sql
Owners: @frontend-team, @team-leads, @docs-team, @backend-team, @database-team

feat: Implement backend core and API routes
  .env.example
  BACKEND_IMPLEMENTATION_SUMMARY.md
  apps/web/src/app/api/healthz/route.ts
  apps/web/src/app/api/mealplan/ai-generate/route.ts
  apps/web/src/app/api/mealplan/route.ts
  apps/web/src/app/api/partner/webhook/route.ts
  apps/web/src/app/api/swagger/route.ts
  apps/web/src/app/api/user/me/route.ts
  docker-compose.yml
  docs/API_REFERENCE.md
  docs/DB_SCHEMA.md
  docs/SECURITY_PRIVACY.md
  package.json
  packages/server/db/migrations/0001_initial_schema.sql
  packages/server/package.json
  packages/server/src/auth/index.ts
  packages/server/src/db/drizzle.config.ts
  packages/server/src/db/index.ts
  packages/server/src/db/schema.ts
  packages/server/src/index.ts
  packages/server/src/jobs/digests.ts
  packages/server/src/jobs/mealGen.ts
  packages/server/src/observability/index.ts
  packages/server/src/queue/index.ts
  packages/server/src/routes/mealplan.ts
  packages/server/src/routes/partnerWebhook.ts
  packages/server/src/security/helmet.ts
  packages/server/src/security/index.ts
  packages/server/src/testing/api.mealplan.spec.ts
  packages/server/src/types.ts
  packages/server/tsconfig.json
  tsconfig.json
Owners: @team-leads, @senior-developers, @docs-team, @frontend-team, @platform-team

feat: Implement comprehensive compliance and subscription features
  .github/workflows/compliance.yml
  MOBILE_COMPLIANCE_IMPLEMENTATION_SUMMARY.md
  README_MOBILE_COMPLIANCE.md
  apps/mobile/src/features/consent/ConsentGate.tsx
  apps/mobile/src/screens/SettingsPrivacy.tsx
  apps/mobile/src/screens/SettingsSubscription.tsx
  apps/web/src/app/(marketing)/privacy/page.tsx
  apps/web/src/app/(marketing)/subscriptions/page.tsx
  apps/web/src/app/(marketing)/terms/page.tsx
  apps/web/src/app/api/privacy/erase/route.ts
  apps/web/src/app/api/privacy/export/route.ts
  apps/web/src/app/consent/ConsentGate.tsx
  docs/DATA_TAXONOMY.md
  docs/PLAY_DATA_SAFETY_DRAFT.json
  docs/STORE_COMPLIANCE_CHECKLIST.md
  nomad/packages/adapters/src/ads/adEngine.ts
  package.json
  packages/adapters/purchases/android.ts
  packages/adapters/purchases/index.ts
  packages/adapters/purchases/ios.ts
  packages/adapters/purchases/package.json
  packages/adapters/purchases/web.ts
  packages/analytics/consent/consent.test.ts
  packages/analytics/consent/consentModel.ts
  packages/analytics/consent/consentStore.ts
  packages/analytics/consent/index.ts
  packages/analytics/consent/package.json
  packages/config/src/index.ts
  packages/config/src/subscriptions.ts
  packages/server/src/payments/apple.ts
  packages/server/src/payments/google.ts
  packages/server/src/payments/index.ts
  packages/server/src/routes/paymentsVerify.ts
  packages/server/src/testing/payments.spec.ts
  scripts/compliance-check.ts
Owners: @devops-team, @team-leads, @docs-team, @mobile-team, @frontend-team, @senior-developers, @platform-team, @qa-team

feat: Implement growth systems and CRM adapters
  .env.example
  GROWTH_SYSTEMS_IMPLEMENTATION.md
  apps/web/emails/PremiumUpsell.tsx
  apps/web/emails/Receipt.tsx
  apps/web/emails/ReferralInvite.tsx
  apps/web/emails/WeeklyDigest.tsx
  apps/web/emails/Welcome.tsx
  apps/web/emails/Winback.tsx
  packages/adapters/crm/index.ts
  packages/adapters/crm/klaviyo.ts
  packages/adapters/crm/noop.ts
  packages/adapters/crm/package.json
  packages/adapters/crm/sendgrid.ts
  packages/adapters/crm/types.ts
  packages/data/src/experiments.ts
  packages/server/db/migrations/0002_growth_systems.sql
  packages/server/src/db/schema.ts
  packages/server/src/experiments/service.ts
  packages/server/src/jobs/anomalyGuard.ts
  packages/server/src/jobs/digestRunner.ts
  packages/server/src/jobs/journeysRunner.ts
  packages/server/src/jobs/priceRollout.ts
  packages/server/src/journeys/engine.ts
  packages/server/src/queue/index.ts
  packages/server/src/routes/experiments.ts
  packages/server/src/routes/paywall.ts
  packages/server/src/routes/referrals.ts
  packages/server/src/testing/paywall.spec.ts
  packages/server/src/testing/referrals.spec.ts
  packages/ui/MessageCenter/index.tsx
Owners: @team-leads, @senior-developers, @docs-team, @frontend-team, @platform-team

feat: Implement revenue optimization layer
  .github/workflows/revenue.yml
  REVENUE_OPTIMIZATION_SUMMARY.md
  apps/web/src/app/api/elasticity/[country]/[plan]/route.ts
  apps/web/src/app/api/experiments/price/route.ts
  apps/web/src/app/api/pricing/current/route.ts
  apps/web/src/app/api/pricing/survey/route.ts
  apps/web/src/app/api/revenue/summary/route.ts
  docs/REVENUE_OPERATIONS.md
  packages/data/src/pricing.ts
  packages/server/db/migrations/0003_revenue_optimization.sql
  packages/server/src/analytics/revenue.ts
  packages/server/src/db/schema.ts
  packages/server/src/jobs/elasticityModel.ts
  packages/server/src/jobs/priceOptimizer.ts
  packages/server/src/jobs/revenueAggregator.ts
  packages/server/src/jobs/vanWestendorpModel.ts
  packages/server/src/pricing/engine.ts
  packages/server/src/routes/pricing.ts
  packages/server/src/testing/pricing.spec.ts
  packages/ui/PricingSurvey.tsx
  whats-for-dinner/src/app/admin/revenue/page.tsx
Owners: @devops-team, @team-leads, @docs-team, @frontend-team, @platform-team, @senior-developers

feat: Implement Partner Revenue Network
  .env.example
  PARTNER_NETWORK_IMPLEMENTATION_SUMMARY.md
  apps/web/src/app/api/r/[token]/route.ts
  apps/web/src/app/r/[token]/route.ts
  docs/PARTNER_API.md
  docs/PARTNER_POLICY.md
  nomad/packages/adapters/src/ads/adEngine.ts
  nomad/packages/adapters/src/ads/partnerSource.ts
  packages/server/db/migrations/0004_partner_revenue_network.sql
  packages/server/package.json
  packages/server/src/auth/partner.ts
  packages/server/src/db/schema.ts
  packages/server/src/partners/catalog/api.ts
  packages/server/src/partners/catalog/csv.ts
  packages/server/src/partners/catalog/xml.ts
  packages/server/src/partners/links.ts
  packages/server/src/payouts/runner.ts
  packages/server/src/routes/partner.ts
  packages/server/src/routes/partnerConvert.ts
  packages/server/src/testing/partner.spec.ts
Owners: @team-leads, @senior-developers, @docs-team, @frontend-team, @platform-team

feat: Implement Admin Ops & Trust Center
  .github/workflows/trust.yml
  ADMIN_TRUST_CENTER_SUMMARY.md
  apps/web/src/app/admin/(console)/dashboard/page.tsx
  apps/web/src/app/admin/(console)/governance/page.tsx
  apps/web/src/app/admin/(console)/incidents/page.tsx
  apps/web/src/app/admin/(console)/moderation/page.tsx
  apps/web/src/app/api/admin/audit/route.ts
  apps/web/src/app/api/admin/dashboard/route.ts
  apps/web/src/app/api/admin/governance/retention/route.ts
  apps/web/src/app/api/admin/incidents/route.ts
  docs/TRUST_CENTER.md
  package.json
  packages/server/src/audit/index.ts
  packages/server/src/auth/admin.ts
  packages/server/src/db/schema.ts
  packages/server/src/incidents/service.ts
  packages/server/src/jobs/retentionRunner.ts
  packages/server/src/routes/admin/moderation.ts
  packages/server/src/tests/admin.spec.ts
  scripts/seed-admin.ts
  scripts/verify-audit.ts
  supabase_tables_part14_admin_trust_center.sql
Owners: @devops-team, @team-leads, @docs-team, @frontend-team, @platform-team, @senior-developers

feat: Implement RegTech layer for privacy and compliance
  .env.example
  .github/workflows/regtech.yml
  REGTECH_IMPLEMENTATION_SUMMARY.md
  apps/web/src/app/admin/(console)/governance/controls/page.tsx
  apps/web/src/app/privacy/requests/page.tsx
  docs/CONTROLS_CATALOG.md
  docs/PRIVACY_OPERATIONS.md
  packages/server/db/migrations/0005_regtech_layer.sql
  packages/server/src/auth/admin.ts
  packages/server/src/controls/ccm.ts
  packages/server/src/db/schema.ts
  packages/server/src/jobs/dsarExport.ts
  packages/server/src/jobs/erasureRunner.ts
  packages/server/src/jobs/retentionRunner.ts
  packages/server/src/routes/privacy.dsar.ts
  packages/server/src/routes/reports.regulatory.ts
  packages/server/src/routes/vendors.ts
  packages/server/src/tests/controls.spec.ts
  packages/server/src/tests/dsar.spec.ts
  packages/server/src/tests/vendors.spec.ts
Owners: @team-leads, @senior-developers, @devops-team, @docs-team, @frontend-team, @platform-team

feat: Implement production readiness features
  .env.example
  .github/workflows/chaos.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  PRODUCTION_READINESS_SUMMARY.md
  apps/web/src/app/admin/(console)/costs/page.tsx
  docs/APPSTORE_PRIVACY_PACK.md
  docs/CHANGE_MANAGEMENT.md
  docs/DR_BCP.md
  docs/INCIDENT_RUNBOOK.md
  docs/RUNBOOKS.md
  docs/SOC2_ISO_EVIDENCE.md
  package.json
  packages/server/src/incidents/automation.ts
  packages/server/src/jobs/selfHeal.ts
  packages/server/src/observability/health.ts
  packages/server/src/observability/otel.ts
  packages/server/src/observability/slo.ts
  packages/testing/chaos/scenarios.ts
  packages/testing/perf/scenarios.ts
  tools/scripts/backup-run.ts
  tools/scripts/evidence-bundle.ts
  tools/scripts/restore-run.ts
Owners: @team-leads, @senior-developers, @devops-team, @docs-team, @frontend-team, @platform-team

feat: Implement production-grade reliability and security features
  .env.example
  PRODUCTION_GRADE_IMPLEMENTATION_SUMMARY.md
  apps/web/src/app/api/admin/costs/route.ts
  docs/APPSTORE_PRIVACY_PACK.md
  docs/CHANGE_MANAGEMENT.md
  docs/DR_BCP.md
  docs/INCIDENT_RUNBOOK.md
  docs/RUNBOOKS.md
  docs/SOC2_ISO_EVIDENCE.md
  packages/testing/perf/runner.ts
  packages/testing/perf/scenarios.ts
Owners: @team-leads, @senior-developers, @docs-team, @frontend-team, @platform-team

Refactor: Improve DR drill and observability setup
  .github/workflows/dr-drill.yml
  README_PRODUCTION_SETUP.md
  SETUP_COMPLETE.md
  alertmanager.yml
  alerts.yml
  docker-compose.observability.yml
  docs/AUDIT_READINESS_CHECKLIST.md
  grafana/dashboards/service-overview.json
  grafana/dashboards/slo-dashboard.json
  grafana/datasources/prometheus.yml
  loki-config.yml
  prometheus.yml
  promtail-config.yml
  scripts/setup-alerts.sh
  scripts/setup-production.sh
  tempo-config.yml
Owners: @devops-team, @team-leads, @docs-team, @senior-developers, @platform-team

feat: Implement Phases 2-7 of project architecture
  ARCHITECTURE_TARGET.md
  PHASES_2-7_COMPLETION_SUMMARY.md
  apps/web/package.json
  apps/web/src/app/api/gdpr/delete/route.ts
  apps/web/src/app/api/gdpr/export/route.ts
  apps/web/src/app/api/subscriptions/create/route.ts
  apps/web/src/app/api/subscriptions/me/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/CoreWebVitals.tsx
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/GDPRConsent.tsx
  apps/web/src/components/LoadingState.tsx
  apps/web/src/components/StoreListing.tsx
  apps/web/src/components/SubscriptionManager.tsx
  apps/web/tests/integration/phases-integration.test.ts
Owners: @docs-team, @team-leads, @platform-team, @frontend-team, @qa-team

feat: Implement wiring verification system
  .github/workflows/wiring-check.yml
  apps/web/app/admin/(console)/wiring/page.tsx
  apps/web/app/api/_sandbox/partner-webhook/route.ts
  apps/web/app/api/_sandbox/payments-webhook/route.ts
  apps/web/public/wiring-status.json
  package.json
  packages/testing/contracts/openapi.validate.spec.ts
  packages/testing/e2e/jobs.spec.ts
  packages/testing/e2e/wiring.web.spec.ts
  packages/testing/fixtures/synthetic.ts
  reports/connectivity/IMPLEMENTATION_SUMMARY.md
  reports/connectivity/WIRING_SETUP.md
  tools/wiring/env_inventory.ts
  tools/wiring/harness.ts
  tools/wiring/wire_doctor.ts
Owners: @devops-team, @team-leads, @frontend-team, @platform-team, @docs-team, @senior-developers

feat: Add audit scripts and generate continuity report
  docs/PROJECT_CONTINUITY_REPORT.md
  docs/SYSTEM_DIAGRAM_FINAL.md
  packages/server/src/queue/index.ts
  reports/connectivity/heatmap.json
  reports/inventory/coverage.json
  scripts/continuity-connectivity.mjs
  scripts/continuity-final-summary.mjs
  scripts/continuity-inventory.mjs
  scripts/continuity-report-generator.mjs
Owners: @docs-team, @platform-team, @team-leads, @senior-developers, @devops-team

feat: Implement Phase 2 performance and UX optimizations
  .github/workflows/ci-cd.yml
  .lighthouserc.js
  PHASE_2_COMPLETION_SUMMARY.md
  apps/web/next.config.ts
  apps/web/public/sw-enhanced.js
  apps/web/src/app/layout.tsx
  apps/web/src/components/CoreWebVitals.tsx
  apps/web/src/components/PerformanceDashboard.tsx
  apps/web/src/lib/performance/code-splitting.tsx
  apps/web/src/lib/performance/prefetch.ts
Owners: @devops-team, @team-leads, @senior-developers, @docs-team, @frontend-team

docs: Add audit reports for configuration and contracts
  docs/audit/CONFIG_ENTROPY_REPORT.md
  docs/audit/CONTRACTS_VS_IMPLEMENTATION.md
  docs/audit/EXEC_SUMMARY.md
  docs/audit/NARRATIVE_COHERENCE_SCORE.md
  docs/audit/OPS_SLO_RUNBOOK_SEEDS.md
  docs/audit/PR_PLAN_CONFIG_SCHEMA.md
  docs/audit/PR_PLAN_CONTRACTS.md
  docs/audit/PR_PLAN_GUARDRAILS.md
  docs/audit/RESILIENCE_TABLE.md
  docs/audit/ROOT_CAUSE_AND_DRIFT_MAP.md
  docs/audit/SECURITY_PRIVACY_SKETCH.md
  docs/audit/SUPPLY_CHAIN_SBOM_SUMMARY.md
  docs/audit/THREE_STEP_REFACTOR_PLAN.md
Owners: @docs-team
