Repository shardie-github/WhatsForDinner, changes with the owners that CODEOWNERS names for each.
All owners: @team-leads, @senior-developers, @frontend-team, @mobile-team, @platform-team, @devops-team, @docs-team, @security-team, @backend-team, @database-team, @qa-team

Checkpoint before follow-up message
  .github/workflows/release-pipeline.yml
  apps/community-portal/next-env.d.ts
  apps/community-portal/src/components/community-events.tsx
  apps/community-portal/src/components/community-header.tsx
  apps/community-portal/src/components/community-stats.tsx
  apps/community-portal/src/components/featured-posts.tsx
  apps/community-portal/src/components/leaderboard.tsx
  apps/community-portal/src/components/recent-posts.tsx
  apps/community-portal/src/components/ui/avatar.tsx
  apps/community-portal/src/components/ui/badge.tsx
  apps/community-portal/src/components/ui/card.tsx
  apps/community-portal/src/components/ui/input.tsx
  apps/community-portal/tsconfig.json
  apps/mobile/package.json
  apps/web/src/app/api/commerce/hub/route.ts
  apps/web/src/app/api/developers/keys/[id]/route.ts
  apps/web/src/app/api/developers/keys/route.ts
  apps/web/src/app/api/developers/usage/route.ts
  apps/web/src/app/api/dinner/route.ts
  apps/web/src/app/api/errors/route.ts
  apps/web/src/app/api/federation/route.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/metrics/route.ts
  apps/web/src/app/api/observability/alerts/route.ts
  apps/web/src/app/api/observability/dashboard/route.ts
  apps/web/src/app/api/observability/errors/route.ts
  apps/web/src/app/api/observability/health/route.ts
  apps/web/src/app/api/observability/metrics/route.ts
  apps/web/src/app/api/observability/report/route.ts
  apps/web/src/app/api/observability/traces/route.ts
  apps/web/src/app/api/partners/revenue/route.ts
  apps/web/src/app/api/partners/stats/route.ts
  apps/web/src/app/api/performance/optimize/route.ts
  package.json
  pnpm-lock.yaml
Owners: @devops-team, @team-leads, @senior-developers, @platform-team, @frontend-team

Checkpoint before follow-up message
  apps/web/src/app/api/performance/recommendations/route.ts
Owners: @frontend-team, @team-leads

Refactor: Migrate to pnpm and enhance CI/CD pipeline
  whats-for-dinner/.github/workflows/ci-cd-pipeline.yml
  whats-for-dinner/DEPLOYMENT_SUMMARY.md
  whats-for-dinner/DOCS/DEPLOY_README.md
  whats-for-dinner/DOCS/SECURITY.md
  whats-for-dinner/package.json
  whats-for-dinner/scripts/healthcheck.js
  whats-for-dinner/scripts/supabase-policy-smoke/index.js
  whats-for-dinner/src/lib/secretsManager.ts
  whats-for-dinner/vercel.json
Owners: @devops-team, @team-leads, @docs-team, @platform-team, @senior-developers

feat: Add comprehensive CI checks and resilience features
  .github/workflows/ci-cd.yml
  DOCS/DEPLOY_README.md
  DOCS/PERFORMANCE.md
  DOCS/RUNBOOKS.md
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/selftest/route.ts
  apps/web/src/lib/resilience.ts
  apps/web/tests/smoke.spec.ts
  next.config.cache.js
  package.json
  scripts/bundle-report.mjs
  scripts/cost-guard.mjs
  scripts/db-slowquery-check.mjs
  scripts/healthcheck.js
  scripts/rls-smoke.ts
  scripts/run-all-checks.mjs
  scripts/secrets-scan.mjs
Owners: @devops-team, @team-leads, @docs-team, @frontend-team, @senior-developers, @platform-team

feat: Implement safe release and governance system
  .github/workflows/dr-drill.yml
  .github/workflows/vercel-promotion.yml
  DOCS/RELEASES.md
  DOCS/SECURITY.md
  DOCS/SLOs.md
  SAFE_RELEASES_SUMMARY.md
  package.json
  scripts/chaos-mini.ts
  scripts/clone-and-restore-check.ts
  scripts/migrate-emc.ts
  scripts/slo-checker.ts
  whats-for-dinner/supabase/migrations/013_feature_flags_schema.sql
Owners: @devops-team, @team-leads, @docs-team, @platform-team, @senior-developers

feat: Implement AI automation system and CI workflows
  .github/workflows/ai-audit.yml
  .github/workflows/futurecheck.yml
  .github/workflows/watcher-cron.yml
  AI_AUTOMATION_README.md
  AI_COMPLIANCE.md
  REPORTS/ai-dashboard.html
  REPORTS/ai-dashboard.json
  REPORTS/future-runtime-readiness.json
  SUSTAINABILITY.md
  ai/agent_config.json
  ai/ai_autoscale.ts
  ai/insights_agent.mjs
  ai/privacy_guard.ts
  ai/self_diagnose.ts
  next.config.cache.js
  package.json
  pnpm-lock.yaml
  scripts/ai-dashboard.mjs
  scripts/futurecheck.ts
  scripts/generate-docs-ai.mjs
  scripts/generate-embeddings.mjs
  scripts/onboard-ai.mjs
  scripts/release-notes-ai.mjs
  server/api/bridge.ts
  supabase/functions/search-ai/index.ts
  supabase/migrations/014_ai_system_schema.sql
  watchers/ai_performance.watcher.ts
  watchers/api_contract.watcher.ts
  watchers/db_integrity.watcher.ts
Owners: @devops-team, @team-leads, @docs-team, @senior-developers, @platform-team, @backend-team, @database-team

feat: Add market fit analysis and opportunity map
  REPORTS/market_fit_score.json
  REPORTS/opportunity_map.json
  REPORTS/strategic_reality_review.md
  REPORTS/value_narrative.md
Owners: @team-leads, @senior-developers, @docs-team

feat: Implement gap closure sprint deliverables
  .github/workflows/gap-sprint.yml
  GAP_CLOSURE_SUMMARY.md
  apps/web/src/app/(marketing)/landing-A/page.tsx
  apps/web/src/app/(marketing)/landing-B/page.tsx
  apps/web/src/app/api/experiments/assign/route.ts
  apps/web/src/app/api/experiments/convert/route.ts
  apps/web/src/app/api/features/check/route.ts
  apps/web/src/app/api/onboarding/checklist/route.ts
  apps/web/src/app/api/pantry/seed-sample/route.ts
  apps/web/src/app/api/preferences/route.ts
  apps/web/src/app/pricing/page.tsx
  apps/web/src/components/EmptyStateGuide.tsx
  apps/web/src/components/OnboardingChecklist.tsx
  apps/web/src/lib/experiments.ts
  apps/web/src/lib/featureGates.ts
  apps/web/supabase/migrations/006_gap_closure_features.sql
  docs/plan_gap_matrix.md
  docs/specs/jtbd-dietary-wizard.md
  docs/specs/jtbd-empty-state-import.md
  docs/specs/jtbd-pantry-first.md
  experiments/landing-hero-variant.json
  experiments/pantry-quick-start.json
  gtm/ICP_profiles.md
  gtm/messaging_map.md
  gtm/mini_deck.md
  gtm/one_pager.md
  proofs/gap_closure_20250121.json
  scripts/outreach-draft.mjs
Owners: @devops-team, @team-leads, @docs-team, @frontend-team, @senior-developers, @platform-team

Refactor: Streamline strategic reality review document
  REPORTS/strategic_reality_review.md
Owners: @docs-team, @team-leads

feat: Close gap matrix items and launch experiments
  GAP_CLOSURE_SUMMARY.md
  apps/web/src/app/api/billing/checkout/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/OnboardingChecklist.tsx
  docs/plan_gap_matrix.md
  docs/specs/jtbd-personalization.md
  docs/specs/jtbd-speed-convenience.md
  experiments/upgrade-cta-placement.json
  gtm/messaging_map.md
  gtm/mini_deck.md
  proofs/gap_closure_20250121.json
  scripts/outreach-draft.mjs
Owners: @docs-team, @team-leads, @frontend-team, @senior-developers, @platform-team, @devops-team

Fix: Update RLS migration and CI/CD scripts
  .github/workflows/ci-cd.yml
  BLOCKERS_AND_RISKS_MITIGATION.md
  DEPLOYMENT_READINESS.md
  RLS_MIGRATION_SUMMARY.md
  package.json
  whats-for-dinner/supabase/migrations/003_rbac_rls_security.sql
  whats-for-dinner/supabase/migrations/014_consolidated_rls_security.sql
Owners: @devops-team, @team-leads, @docs-team, @platform-team, @senior-developers

feat: Add go-live readiness documentation
  .env.example
  ANALYTICS_ERROR_TRACKING_SETUP.md
  GO_LIVE_READINESS.md
  GO_LIVE_SUMMARY.md
  PRODUCTION_DEPLOYMENT_RUNBOOK.md
Owners: @team-leads, @senior-developers, @docs-team

Fix: Update AI dashboard documentation and metrics
  REPORTS/ai-dashboard.html
  REPORTS/ai-dashboard.json
  docs/api_reference.md
  docs/architecture_map.md
  scripts/ai-dashboard.mjs
Owners: @team-leads, @senior-developers, @docs-team, @platform-team, @devops-team

chore(docs): add repo map and go-live readiness audit
  docs/readiness-report.md
  docs/repo-map.md
  package.json
  packages/utils/package.json
  packages/utils/src/device.ts
  packages/utils/src/experimentation-service.ts
  packages/utils/src/failure-injector.ts
  packages/utils/src/hooks.ts
  packages/utils/src/image-optimizer.ts
Owners: @docs-team, @platform-team, @team-leads

feat: Add react 19 and @types/react dependencies
  apps/community-portal/tsconfig.tsbuildinfo
  packages/theme/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Owners: @team-leads, @senior-developers, @platform-team

fix: Resolve TypeScript errors for build readiness
  apps/community-portal/tsconfig.tsbuildinfo
  apps/web/src/app/(marketing)/landing-A/page.tsx
  apps/web/src/middleware.ts
  apps/web/src/utils/commandRunner.ts
  apps/web/tests/global-setup.ts
  apps/web/tests/global-teardown.ts
  apps/web/tsconfig.tsbuildinfo
  packages/theme/tsconfig.json
  packages/theme/tsconfig.tsbuildinfo
  packages/ui/src/components/Button/Button.web.tsx
  packages/ui/src/components/Icon/Icon.web.tsx
  packages/ui/src/components/Input/Input.web.tsx
  packages/ui/src/components/Text/Text.native.tsx
  packages/ui/src/components/Text/Text.web.tsx
  packages/ui/src/components/ThemeToggle/ThemeToggle.web.tsx
  packages/ui/src/components/View/View.native.tsx
  packages/ui/src/components/View/View.web.tsx
  packages/ui/src/stories/Button.tsx
  packages/ui/src/stories/Header.tsx
  packages/ui/tsconfig.json
  packages/ui/tsconfig.tsbuildinfo
  packages/utils/package.json
  packages/utils/src/device.ts
  packages/utils/src/experimentation-service.ts
  packages/utils/src/failure-injector.ts
  packages/utils/src/hooks.ts
  packages/utils/src/image-optimizer.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Owners: @team-leads, @senior-developers, @frontend-team, @platform-team

fix: Additional TypeScript fixes for build readiness
  apps/web/src/app/(marketing)/landing-A/page.tsx
  apps/web/src/app/(marketing)/landing-B/page.tsx
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/onboarding/checklist/route.ts
Owners: @frontend-team, @team-leads

docs: Add comprehensive deployment readiness status
  DEPLOYMENT_STATUS.md
Owners: @docs-team, @team-leads

chore(docs): add repo map for go-live readiness
  docs/repo-map.md
Owners: @docs-team

feat: add go-live readiness infrastructure - ESLint security rules, readyz endpoint, observability docs, analytics catalog, runbooks, checklists
  analytics/event-catalog.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/app/api/readyz/route.ts
  apps/web/tsconfig.build.json
  docs/analytics.md
  docs/data-flows.md
  docs/go-live-checklist.md
  docs/observability.md
  docs/runbooks/deploy.md
  docs/runbooks/oncall.md
  docs/runbooks/releases.md
  docs/runbooks/rollback.md
  pnpm-lock.yaml
Owners: @team-leads, @senior-developers, @frontend-team, @platform-team, @docs-team

docs: add go-live readiness report and data flows documentation
  docs/readiness-report.md
Owners: @docs-team

feat: Implement comprehensive security and monitoring enhancements
  .github/workflows/ci-cd.yml
  GAP_RESOLUTION_SUMMARY.md
  apps/web/next.config.ts
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/support/page.tsx
  apps/web/src/components/Analytics.tsx
  apps/web/src/lib/monitoringAlerts.ts
  apps/web/src/lib/validation.ts
  apps/web/src/middleware.ts
Owners: @devops-team, @team-leads, @docs-team, @frontend-team

feat: Add go-live audit checklist
  CODEBASE_AND_GO_LIVE_AUDIT_CHECKLIST.md
Owners: @docs-team, @team-leads

feat: Implement rate limiting and legal pages
  CHECKLIST_COMPLETION_SUMMARY.md
  apps/web/src/app/api/dinner/route.ts
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/app/terms-of-service/page.tsx
  apps/web/src/lib/rate-limiting.ts
  docs/backup-testing-procedures.md
  docs/browser-compatibility-testing.md
  docs/connection-pooling-guide.md
  docs/cookie-policy.md
  docs/ddos-protection-strategy.md
  docs/dns-verification-guide.md
  docs/incident-response-plan.md
  docs/mfa-setup-guide.md
  docs/privacy-policy.md
  docs/secret-scanning-ci-cd.md
  docs/security-audit-checklist.md
  docs/staging-environment-setup.md
  docs/terms-of-service.md
Owners: @docs-team, @team-leads, @frontend-team

feat: Implement status page, browser tests, and alerts config
  .env.example
  GO_LIVE_COMPLETION_SUMMARY.md
  GO_LIVE_READINESS.md
  apps/web/src/app/layout.tsx
  apps/web/src/app/status/page.tsx
  package.json
  scripts/browser-compatibility-test.ts
  scripts/monitoring-alerts-config.ts
Owners: @team-leads, @senior-developers, @docs-team, @frontend-team, @platform-team, @devops-team

feat: Add premium product action items and gap analysis
  PREMIUM_ACTION_ITEMS_CHECKLIST.md
  PREMIUM_GAPS_SUMMARY.md
  PREMIUM_PRODUCT_GAPS_ANALYSIS.md
Owners: @docs-team, @team-leads

feat: Add service configurations and documentation
  CRITICAL_HIGH_PRIORITY_SERVICES_SUMMARY.md
  MANUAL_REGISTRATION_REQUIREMENTS.md
  PREMIUM_ACTION_ITEMS_CHECKLIST.md
  SERVICE_CONFIGURATION_COMPLETION_SUMMARY.md
  config/service-config.json
Owners: @docs-team, @team-leads, @senior-developers

feat: Implement business readiness and autonomous systems
  BUSINESS_READINESS_IMPLEMENTATION.md
  apps/web/src/app/api/business-readiness/route.ts
  apps/web/src/app/api/cro/insights/route.ts
  apps/web/src/app/api/monetization/opportunities/route.ts
  apps/web/src/lib/autonomousInfrastructure.ts
  apps/web/src/lib/businessReadinessOrchestrator.ts
  apps/web/src/lib/croOptimizer.ts
  apps/web/src/lib/index.ts
  apps/web/src/lib/monetizationHub.ts
  apps/web/src/lib/selfLearningSystem.ts
Owners: @docs-team, @team-leads, @frontend-team

feat: Add business readiness schema and tables
  BUSINESS_READINESS_IMPLEMENTATION.md
  apps/web/supabase/migrations/007_business_readiness_schema.sql
Owners: @docs-team, @team-leads, @frontend-team

feat: Add comprehensive Supabase schema for all features
  master_supabase_schema.sql
Owners: @team-leads, @senior-developers

feat: Add Supabase setup scripts and dependencies
  SUPABASE_SETUP.md
  package.json
  scripts/README_SUPABASE_SETUP.md
  scripts/setup-supabase-api.ts
  scripts/setup-supabase-direct.ts
  scripts/setup-supabase-simple.ts
  scripts/setup-supabase.ts
Owners: @docs-team, @team-leads, @platform-team, @devops-team

feat: Split schema into parts and add multitenant tables
  README_SQL_PARTS.md
  supabase_minimal.sql
  supabase_tables_part1_core.sql
  supabase_tables_part2_analytics.sql
  supabase_tables_part3_multitenant.sql
Owners: @docs-team, @team-leads, @senior-developers

Refactor: Split master SQL into 13 parts
  README_SQL_PARTS.md
  supabase_tables_part10_social.sql
  supabase_tables_part11_featureflags.sql
  supabase_tables_part12_ai.sql
  supabase_tables_part13_gapclosure.sql
  supabase_tables_part4_growth.sql
  supabase_tables_part5_federated.sql
  supabase_tables_part6_jobqueue.sql
  supabase_tables_part7_admin.sql
  supabase_tables_part8_community.sql
  supabase_tables_part9_chef.sql
Owners: @docs-team, @team-leads, @senior-developers

feat: Add Supabase schema and RLS setup documentation
  SUPABASE_ASSISTANT_PROMPT.md
  SUPABASE_TABLE_COUNT_SUMMARY.md
Owners: @docs-team, @team-leads

feat: Integrate Capacitor for mobile app development
  .github/workflows/mobile-release.yml
  MOBILE_TRANSFORMATION_SUMMARY.md
  RELEASE_NOTES.md
  apps/web/capacitor.config.ts
  apps/web/package.json
  apps/web/src/app/api/auth/delete-account/route.ts
  apps/web/src/app/settings/account/delete/page.tsx
  apps/web/src/app/settings/legal/page.tsx
  apps/web/src/lib/capacitor/att-prompt.ts
  apps/web/src/lib/capacitor/deep-links.ts
  apps/web/src/lib/capacitor/push-notifications.ts
  apps/web/src/lib/capacitor/secure-storage.ts
  ops/analytics/events.yaml
  ops/branding/appicon.svg
  ops/compliance/privacy-matrix.yaml
  ops/env/.env.example
  ops/fastlane/Appfile
  ops/fastlane/android/Fastfile
  ops/fastlane/ios/Fastfile
  ops/monetization/catalog.json
  ops/release/INITIALIZATION_GUIDE.md
  ops/release/LAUNCH_RUNBOOK.md
  ops/release/PLAN.md
  ops/release/QA_CHECKLIST.md
  ops/release/STORE_COMPLIANCE_ASSERTIONS.md
  ops/screenshots/capture.ts
  pnpm-lock.yaml
  scripts/generate-icons.ts
  scripts/generate-release-notes.ts
Owners: @devops-team, @team-leads, @docs-team, @frontend-team, @platform-team, @senior-developers

feat: Implement mobile app setup and core features
  .gitignore
  COMPLETION_REPORT.md
  FINAL_SETUP_CHECKLIST.md
  apps/web/public/sw-enhanced.js
  apps/web/src/app/api/auth/apple/callback/route.ts
  apps/web/src/app/api/push/register/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/app/settings/account/profile/page.tsx
  apps/web/src/app/settings/page.tsx
  apps/web/src/app/terms-of-service/page.tsx
  apps/web/src/components/CacheRefresh.tsx
  apps/web/src/components/CapacitorInit.tsx
  apps/web/src/components/Paywall.tsx
  apps/web/src/lib/auth/apple-sign-in.ts
  apps/web/src/lib/capacitor/background-refresh.ts
  apps/web/src/lib/capacitor/init.ts
  apps/web/src/lib/croOptimizer.ts
  apps/web/src/lib/monetization/index.ts
  apps/web/src/lib/monetization/native-billing.ts
  apps/web/src/lib/monetization/revenuecat.ts
  package.json
  public/legal/privacy.html
  public/legal/terms.html
  scripts/setup-mobile.sh
Owners: @team-leads, @senior-developers, @docs-team, @frontend-team, @platform-team, @devops-team

Refactor: Improve accessibility and UI responsiveness
  apps/mobile/app/index.tsx
  apps/mobile/src/components/InputPrompt.tsx
  apps/mobile/src/components/RecipeCard.tsx
  apps/web/next.config.ts
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/InputPrompt.tsx
  apps/web/src/components/Navbar.tsx
  apps/web/src/components/RecipeCard.tsx
Owners: @mobile-team, @team-leads, @frontend-team

feat: Add Supabase CI and audit scripts
  .env.example
  .github/workflows/supabase-ci.yml
  AUDIT_SUPABASE.md
  scripts/supabase_audit.sh
  supabase/functions/search-ai/deno.json
  supabase/migrations/202511021144__auto_fixes.sql
Owners: @team-leads, @senior-developers, @devops-team, @docs-team, @platform-team, @backend-team, @database-team

feat: Add Supabase Advisor prompts for audit fixes
  SUPABASE_ADVISOR_PROMPT.md
  SUPABASE_ADVISOR_PROMPT_READY.md
Owners: @docs-team, @team-leads

feat: Implement comprehensive Supabase backend audit and fixes
  AUDIT_SUPABASE.md
  SUPABASE_AUDIT_SUMMARY.md
  scripts/generate-supabase-types.sh
  supabase/migrations/202511021218__comprehensive_auto_fixes.sql
Owners: @docs-team, @team-leads, @platform-team, @devops-team, @backend-team, @database-team

CODEOWNERS:

# CODEOWNERS
# This file defines who owns which parts of the codebase

# Global owners
* @team-leads @senior-developers

# Core application code
/apps/web/ @frontend-team @team-leads
/apps/mobile/ @mobile-team @team-leads
/packages/ @platform-team @team-leads

# Infrastructure
/infra/ @devops-team @team-leads
/scripts/ @platform-team @devops-team

# Documentation
*.md @docs-team @team-leads
/docs/ @docs-team

# Configuration files
package.json @platform-team
tsconfig.json @platform-team
turbo.json @platform-team

# Security-related files
SECURITY_CHECKLIST.md @security-team @team-leads
SECURITY_AUDIT.md @security-team @team-leads
scripts/security-*.js @security-team

# Database
/supabase/ @backend-team @database-team

# Tests
/tests/ @qa-team @team-leads
*.test.* @qa-team

# CI/CD
.github/ @devops-team @team-leads
